.root {
  display: flex;
  width: 100%;
  gap: 1rem;
  color: #fff !important;
  border-color: rgba(255, 255, 255, 0.85) !important;
  background: transparent !important;
}

.root:hover {
  color: #032265 !important;
  background: #fff !important;
}

.WhatsappIcon {
  width: 25px;
  height: 25px;
}

.signButton {
  width: 32px;
  height: 32px;
  position: absolute;
  right: calc(100% - 94%);
}

.loading {
  width: 32px;
  height: 32px;
  margin: 0 auto;
}
